<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .nav a {
    color: white;
  }

  .nav a:hover {
    color: yellow;
  }
</style>
<footer style="color:white ;">
  <ul class="nav justify-content-center" style="font-size:30px;">
    <li class="nav"><a target="_blank" href="https://www.instagram.com/nirmaan_iitmandi/" class="nav-link   "><i
          class="fa fa-instagram"></i></a>
    </li>
    <li class="nav"><a target="_blank" href="https://www.facebook.com/nirmaaniitmandi/" class="nav-link  "><i
          class="fa fa-facebook-f"></i></a>
    </li>
    <li class="nav"><a target="_blank" href="https://wiki.iitmandi.co.in/p/Nirmaan_Club" class="nav-link"><i
          class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
    <li class="nav"><a target="_blank" href="https://github.com/NirmaanClub" class="nav-link"><i class="fa fa-github"
          aria-hidden="true"></i></a></li>
    <li class="nav"><a target="_blank" href="https://wa.me/917488011618" class="nav-link"><i class="fa fa-whatsapp"
          aria-hidden="true"></i></a></li>
    <li class="nav"><a target="_blank" href="mailto:nirmaan_club@iitmandi.ac.in" class="nav-link"><i
          class="fa fa-envelope" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p style="font-size: 20px" class="text-center">Nirmaan Club | <a target="_blank" style="color: yellow;"
      href="https://iitmandi.co.in/">SNTC</a> | IIT-Mandi</p>
</footer>
<script src="/js/style.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>