<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club</title>
    <link rel="stylesheet" href="/css/preloader.css">
</head>

<body>

    <div id="preload" style="width: 100%; background: black;">
        <div class="center_div" style="text-align: center;">
            <div class="rot"></div>
            <h1 class="preload_h1" style="color: white !important;">NIRMAAN CLUB</h1>
        </div>


    </div>

    <script>
        function load() {
            $("#preload").css("display","none").delay(3000);
        }
    </script>
</body>

</html>