body {
    overflow-x: hidden;
    min-height: 100vh;
}

.container{
    margin: 0px auto;
    padding-bottom: 50px;
}
.about {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    transform: translateX(-350px);
    opacity: 0;
}

.title {
    margin: 100px 0px 10px 0px;
}

.title h2{
    color: rgb(255, 255, 255);
}

.section {
    text-align: center;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.item{
    min-height: 500px;
    height: auto;
}

.event {
    height: 500px;
    width: 80vw;
    margin: auto;
}

.event .imgbx {
    position: absolute;
    width: 75vw;
    height: 500px;
    overflow: hidden;
    z-index: -5;
    margin: auto;
}

.event .imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


@media screen and (max-width:850px) {

    .event {
        margin: auto;
    }

    .event .imgbx {
        position: unset !important;
    }


    .about {
        width: 75vw !important;
        min-height: 300px !important;
        height: auto;
        margin: auto;
        padding: 10px;
        font-size: 13px;
        background-color: rgba(0, 0, 0, 0.4) !important;
        color: white;
        transform: translateX(0px);
        transform: translateY(-500px);
        opacity: 0;
    }

    .title {

        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }

    .title h2{
        color: white;
        font-size: 1.2rem;
    }

}


/* body {
    background: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1670245802~exp=1670246402~hmac=89d3db866a6363a804a8de32eab29af1de93791e3d3299c2af03cf66ffc68586') no-repeat center center/cover;
    background-attachment: fixed;
} */

html ,body{
    overflow-x: hidden;
}

h1 {
    color: black;
    font-weight: 100;
}

h2 {
    color: black;
}

.eventname {
    height: auto;
    min-height: 350px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes {
    box-shadow: 5px 5px 15px 1px grey;
    height: 300px;
    margin: 20px;
}

.boxes img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.one {
    width: 400px;
}

.titlename {
    /* margin: 100px auto 0px auto; */
    font-size: 3rem;
    text-align: center;
    color: black;
}

.imagebx {
    object-fit: cover;
}

hr {
    width: 70%;
    border-top: 1px solid black !important;
    margin: auto;
}