body {
    overflow-x: hidden;
    min-height: 100vh;
}

.container{
    margin: 0px auto;
    padding-bottom: 50px;
}

.section {
    text-align: center;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.item{
    min-height: 500px;
    height: auto;
}

.event {
    height: 500px;
    width: 80vw;
    margin: auto;
}

.event .imgbx {
    position: absolute;
    width: 75vw;
    height: 500px;
    overflow: hidden;
    z-index: -5;
    margin: auto;
}

.event .imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


@media screen and (max-width:850px) {

    .event {
        margin: auto;
    }

    .event .imgbx {
        position: unset !important;
    }

}

body,*{
    font-family: 'Source Serif Pro', serif;
}

html ,body{
    overflow-x: hidden;
}

h1 {
    color: black;
    font-weight: 100;
}

h2 {
    color: black;
}

.eventname {
    height: auto;
    min-height: 350px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* z-index: -10000; */
    position: sticky;
}

.boxes {
    box-shadow: 5px 5px 15px 1px grey;
    height: 300px;
    margin: 20px;
}

.boxes img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.one {
    width: 400px;
}

.titlename {
    font-size: 3rem;
    text-align: center;
    color: black;
}

.imagebx {
    object-fit: cover;
}

hr {
    width: 70%;
    border-top: 1px solid black !important;
    margin: auto;
}


.one:hover {
    transform: translateY(0px);
    transition: all 0.5s;
}

.one {
    transform: translateY(10px);
    transition: all 0.5s;
}

.boxes {
    border-radius: 20px;
}

.boxes img {
    border-radius: 20px 20px 0px 0px;
}

.boxes {
    min-height: 350px;
    height: auto;
}

.boxes span {
    font-size: 1.5rem;
    color: black;
}

.boxes {
    text-align: center;
    background: white;
}

.navitem {
    color: white;
}

.entry {
    background: url('/images/bg.jpg')no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titled {
    color: white;
    font-size: 8rem;
}

.navbarposition {
    background-image: linear-gradient(to left, black, white);
    width: 100%;
    z-index: -1;
    transform: translateY(50px);
    /* position: relative; */
}

.footerposition {
    width: 100%; 
    background-color: black;
}

.site-warp {
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}

@media screen and (max-width:600px) {
    .titled {
        font-size: 3.8rem !important;
    }

    .title h1 {
        font-size: 25px !important;
    }
}