.cont {
    min-height: 65.2vh;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.event::after {
    content: "";
    margin: 5px;
}

hr {
    width: 65%;
    margin: 10px auto;
    /* height: 1px; */
    background-color: black;
    border: 1px solid black;
}

.img-container {
    border-radius: 0.75rem !important;
    cursor: pointer;
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05); */
    transition: .3s ease;
    margin: 20px;

}

.img-container img {
    border-radius: 0.75rem !important;
}

/* .img-container:hover {
    opacity: 1 !important;
    transform: scale(1.05);
    transition: all 0.8s ease;
} */

html,
body {
    overflow-x: hidden;
}


.contai {
    width: 100%;
}

h2 {
    color: black;
}

.imageon {
    width: 300px;
    margin: 20px;
    box-shadow: 1px 1px 10px 2px grey;
    border-radius: 20px;
    transform: translateY(10px);
    transition: all 0.5s;
}

.imageon img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

/* .imageon:hover {
    transform: translateY(0px);
    transition: all 0.5s;
} */

@media only screen and (max-width:500px) {
    .imageon img {
        height: unset !important;
    }
}

.entry {
    background: url('/images/bg.jpg')no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titled {
    color: white;
    font-size: 8rem;
}

.navbarposition {
    background-image: linear-gradient(to left, black, white);
    width: 100%;
    z-index: 1;
}

.footerposition {
    width: 100%;
    background-color: black;
}

@media screen and (max-width:600px) {
    .titled {
        font-size: 3.8rem !important;
    }

    .title h1 {
        font-size: 25px !important;
    }
}