#video {
    position: absolute;
    z-index: -10;
    object-fit: cover;
    left: 0;
    right: 0;
    overflow: hidden;
}

#video video {
    width: 100%;
    object-fit: cover;
    height: 626px;
}

.title {
    width: 100%;
    z-index: 1;
    text-align: center;

}

.title h1 {
    color: rgb(255, 255, 255);
    font-size: 9rem;
    height: 575px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2,
p {
    color: black;
}


#info p {
    font-size: 21px;
}

#info {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.upcomming {
    text-align: center;
    margin: 50px auto;
    width: 100%;
    padding: 20px;
}

.upcomming .card {
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    min-height: 300px;
    box-shadow: 0px 0px 31px -8px grey;
}

.card img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card span {
    color: black;
    font-weight: 600;
}

.card .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}
h1,h2,h3,h4,h5{
    color: black;
    font-family: 'Source Serif Pro', serif;
}

.section img{
    object-fit: cover;
    height: 150px;
}

.navbarposition {
    background-image: linear-gradient(to left, black, white);
    width: 100%;
    z-index: 1;
}

.footerposition {
    width: 100%;
    background-color: black;
    z-index: 1;
}

.h2{
    font-size: 3rem;
    color: black;
    font-family: 'Source Serif Pro', serif;
}

@media screen and (max-width:600px){
    .title h1{
        font-size:4rem !important;
    }
    #info p {
        font-size: 17px;
    }
    .h2{
        font-size: 2.5rem;
        color: black;
    }

}

body{
    height: auto;
}