.collapse {
    position: absolute;
    /* right: 50px; */
    width: 70%;
  }

  .navbar-brand {
    margin: 0px 50px;
  }

  .navbar-dark .navbar-toggler {
    border: 0
  }

  .line {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navitem {
    margin: 0px 5px;
    border-radius: 0px;
    transition: all 0s;
    color: white;
  }

  .navitem:hover {
    text-decoration: underline;
    color: rgb(255, 213, 0);
  }





  @media only screen and (max-width:992px) {
    .collapse{
      position: absolute;
      right: 0 !important;
      width: 250px !important;
      background: white;
      top: 100%;
      z-index: 10000;
      height: 100vh;
      padding: 10px;
    }
    .navitem{
      color: black;
      text-align: center;
    }
    .navitem:hover {
      text-decoration: underline;
      color: rgb(255, 213, 0);
    }
  }

  .navbar-brand img{
    width: 100px;
    height: 60px;
  }

  @media only  screen and (max-width:400px)  {
    .title h1{
      font-size: 20px;
    }
  }

  .navitem {
    text-transform: uppercase;
  }