<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid-Request</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbarposition" style="position:absolute; top :0px; width: 100%; background-color: black;">
        <%- include("partials/navbar.ejs") %>
    </div>

    

    <div class="footerposition" style="position:absolute; bottom :0px; width: 100%; background-color: black;">
        <%- include("partials/footer.ejs") %>
    </div>

    <script src="/js/style.js"></script>
</body>

</html>