<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid-Request</title>
    <!-- linking main styling file -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body onload = "load()">
    <%- include("partials/preloader.ejs") %>
    <!-- adding navbar section -->

    <div class="navbarposition" id="nav">
        <%- include("partials/navbar.ejs") %>
    </div>

    <div class="face">
        <div class="band">
            <div class="red"></div>
            <div class="white"></div>
            <div class="blue"></div>
        </div>
        <div class="eyes"></div>
        <div class="dimples"></div>
        <div class="mouth"></div>
    </div>

    <h1>Oops! Something went wrong!</h1>

    <!-- adding footer section -->
    <div class="footerposition">
        <%- include("partials/footer.ejs") %>
    </div>
    <script src="/js/navbar.js"></script>
</body>
</html>