<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||Events</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <style>
        body{
            background: url('https://t4.ftcdn.net/jpg/01/10/14/93/240_F_110149329_REv7wpM5M1ObcmS9sJhi1D2jOWa6jxM1.jpg') no-repeat center center/cover;
            background-attachment: fixed;
        }
    </style>
<body>
    <div class="navbarposition" style="background-color:black ;">
        <%- include("partials/navbar.ejs") %>
    </div>
    <div class="site-warp" style="width: 100% ;height:auto; background-color:rgb(0,0,0,0.3)">
        <div class="container">
            <% for(let i=0;i<10;i++){%>
                <div class="item"><br>
                    <h1 class="section">TITLE</h1>
                    <!-- <hr style="width:65% ; margin:30px auto;background-color:black; height: 2px;"> -->
                    <br>
                    <div>
                        <div class="event">
                            <div class="imgbx">
                                <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
                                    alt="">
                            </div>
                            <div class="about">
                                <div class="title">
                                    <h2>title</h2>
                                </div>
                                <div class="info">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, inventore iure.
                                    Architecto
                                    quo
                                    repellendus deleniti culpa impedit corrupti eum exercitationem quidem earum quae
                                    pariatur
                                    odit
                                    magnam beatae, nulla necessitatibus ratione.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>


        </div>
        <div class="footerposition" style="position:absolute; width: 100%; background-color: black;">
            <%- include("partials/footer.ejs") %>
        </div>
    </div>
    <script>

        let observer = new IntersectionObserver((entries) => {
            entries.forEach((element) => {
                if (element.isIntersecting) {
                    element.target.parentElement.lastElementChild.style.opacity = "1";
                    if (window.innerWidth > 850) {
                        element.target.parentElement.lastElementChild.style.transform = "translateX(0px)";
                    }
                    else {
                        element.target.parentElement.lastElementChild.style.transform = "translateY(-250px)";
                    }
                    element.target.parentElement.lastElementChild.style.transition = "all 1s ease";
                }
                else {
                    element.target.parentElement.lastElementChild.style.opacity = "0";
                    if (window.innerWidth > 850) {
                        element.target.parentElement.lastElementChild.style.transform = "translateX(-350px)";
                    }
                    else {
                        element.target.parentElement.lastElementChild.style.transform = "translateY(-550px)";
                    }
                    // element.target.parentElement.lastElementChild.style.transform = "translateX(-350px)";
                    element.target.parentElement.lastElementChild.style.transition = "all 0.5s ease";


                }
            })
        });

        const item = document.getElementsByClassName('event');
        // item[0].parentElement.lastElementChild.lastElementChild
        for (let i = 0; i < item.length; i++) {
            observer.observe(item[i].firstElementChild)
        }
    </script>
</body>

</html>