<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
    <!-- navbar section -->
    <div class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>
    <!-- creating overlay name section -->
    <div class="entry">
        <div class="titled">
            NIRMAAN GALLERY
        </div>
    </div>
    
    <br><br><br>
    <!-- main container -->
    <div class="cont">
        <!-- all events -->
        <% for(let key in gallery){%>
            <!-- for one event -->
            <br>
            <div class="event contai">
                <div class="">
                    <h2 class="text-center">
                        <%=key%>
                    </h2>
                </div>
                <hr>
                <div class="d-flex flex-wrap justify-content-center">
                    <!-- event images -->
                    <% for(let i=0;i<gallery[key][0].imglist.length;i++){%>
                        <div class="imageon">
                            <img src="<%=gallery[key][0].imglist[i]%>" alt="">
                        </div>
                        <%}%>
                </div>
            </div>
            <%}%>
    </div>

    <!-- footer section -->
    <div class="footerposition">
        <%- include("partials/footer.ejs") %>
    </div>




    <script>
        let imgdata = document.getElementsByClassName('imaged');
        for (let i = 0; i < imgdata.length; i++) {
            imgdata[i].addEventListener('click', () => {
                imgdata[i].firstElementChild.style.height = '500px'
                imagdata[i].firstElementChild.style.width = '500px'
            })
        }
    </script>

</body>

</html>