<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="eSee4zPkYDsPLiwNKfP6Ei-W-5RT8tN4eTjvEbJhYhY" />
    <link rel="icon" href="/images/Picture1.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club||Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>

    <!-- creating overlay name section -->
    <div class="entry">
        <div class="titled">
            NIRMAAN GALLERY
        </div>
    </div>
    
    <!-- navbar section -->
    <div id= "nav" class="navbarposition">
        <%- include("partials/navbar.ejs") %>
    </div>

    <br><br><br>
    <!-- main container -->
    <div class="cont">
        <!-- all events -->
        <% for(let key in gallery){%>
            <!-- for one event -->
            <br>
            <div class="event contai">
                <div class="">
                    <h2 class="text-center">
                        <%=key%>
                    </h2>
                </div>
                <hr>
                <div style="position:sticky ;" class="d-flex flex-wrap justify-content-center" id="name">
                    <!-- event images -->
                    <% for(let i=0;i<gallery[key][0].imglist.length;i++){%>
                        <div class="imageon">
                            <img class="image" loading="eager" src="<%=gallery[key][0].imglist[i]%>" alt="">
                        </div>
                        <%}%>
                </div>
            </div>
            <%}%>
    </div>

    <!-- footer section -->
    <div class="footerposition">
        <%- include("partials/footer.ejs") %>
    </div>

    <script>
        // let imgdata = document.getElementsByClassName('image');
        // // console.log(imgdata.length);
        // for (let i = 0; i < imgdata.length; i++) {
        //     let flag = 1;
        //     imgdata[i].addEventListener('click', () => {
        //         console.log(flag);

        //         if(flag){
        //             imgdata[i].style.width = "100%";
        //             imgdata[i].style.height = "100%";
        //             flag =0;
        //         }
        //         else{
        //             flag = 1;
        //             imgdata[i].style.width = "100%";
        //             imgdata[i].style.height = "250px";
        //         } 
        //     })
        // }
    </script>

<script src="/js/navbar.js"></script>
</body>

</html>