<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/Picture.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirmaan-Club</title>
    <!-- linking main styling file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="navbarposition" style="width: 100%; background-color: #dada1a";>
        <%- include("partials/navbar.ejs") %>
    </div>

    <div class="conti">
        <div class="info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos assumenda nobis aliquid
                aliquam nesciunt itaque voluptatibus blanditiis dicta, maiores a ipsam beatae ipsum exercitationem autem
                eius voluptates ratione incidunt modi, ab at! Natus quas quis necessitatibus, obcaecati est consequatur?
            </p>
        </div>
        <div class="title">
            <h1>Nirmaan-Club</h1>
            <span>IIT-Mandi</span>
        </div>
        <div class="image">
            <img src="https://1.bp.blogspot.com/-5bXvcPUMuec/XtpDMQ0PkWI/AAAAAAAAACc/paGedng3likhcsVWCAb05Slbu4JAOC-TwCK4BGAsYHg/d/headerbanner2.jpg"
                alt="">
        </div>
    </div>

    <div class="container" id="about">
        <div class="heading">
            <span>What We Do Here?</span>
        </div>
    </div>

    <div class="mainevents">

    </div>

    <div class="container" id="fest">

    </div>

    <div class="upcomming-events">

    </div>


    <div class="footerposition" style="width: 100%; background-color: black;">
        <%- include("partials/footer.ejs") %>
    </div>

    <script src="/js/home.js"></script>
</body>

</html>